
{% extends 'Base/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
{% block navbar %}
<style>
  .table-bordered {
    background-color: #fff;
  }
</style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Repuestos y Accesorios Flores</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Presupuestos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{% url 'listapresupuestoscaja' %}">Lista Presupuestos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Boletas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{% url 'addboleta' %}">Generar Boleta</a></li>
              <li><a href="{% url 'listaboletas' %}">Lista Boletas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Facturas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{#}">Generar Factura</a></li>
              <li><a href="{#}">Lista Facturas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notas de Crédito
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{#}">Generar Notas de Crédito</a></li>
              <li><a href="{#}">Lista Notas de Crédito</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a href="#">Ajustes de Cuenta</a></li>
            <li><a href="{% url 'Logout' %}">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
      <div class="b-example-divider"></div>
{% endblock %}
{% endblock %}
{% block content %}


<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nº Boleta</td>
            <td>Nº Presupuesto</td>
            <td>Cliente</td>
            <td>Nombre</td>
            <td>Contacto</td>
            <td>Repuesto</td>
            <td>Fecha</td>
            <td>Vehículo</td>
            <td>Servicio</td>
            <td>Total</td>
            
            
            
        </tr>
    </thead>
    <tbody>
        {% if mensaje %}
    <div class="alert alert-success" role="alert">
        Presupuesto Eliminado exitosamente!
      </div>
    {% endif %}
        {% if  Boletas %}
        <div class="alert alert-success" role="alert">
            Boletas encontradas exitosamente!
        </div>

        


        {% for boleta in Boletas %}
        
        <tr>
            <td>  {{ boleta.IDBoleta }}          </td>
            <td>    {{ boleta.Presupuesto.IDpresupuesto }}          </td>
            <td>    {{ boleta.Presupuesto.Reserva.Rutcliente }}          </td>
            <td>    {{ boleta.Presupuesto.Reserva.Nombrecliente }}          </td>
            <td>    {{ boleta.Presupuesto.Reserva.Emailciente}}          </td>
            <td>    {{ boleta.Presupuesto.Repuesto}}          </td>
            <td>    {{ boleta.Presupuesto.Fecha }}          </td>
            <td>    {{ boleta.Presupuesto.Reserva.Marca}}        </td>
            <td>    {{ boleta.Presupuesto.Diagnostico }}          </td>
            <td>    {{ boleta.Presupuesto.Repuesto.Valor }}          </td>
            
            
        </tr>

        {% endfor %}

        {% else %}
        <tr>
            <td>  nn      </td>
            <td>   nn     </td>
            <td>   nn       </td>
            <td> nn           </td>
            <td>   nn         </td>
            
        </tr>
        <div class="alert alert-danger" role="alert">
            Sin Registros!
          </div>

        {% endif %}
    </tbody>
</table>
{% endblock %}