{% extends 'Base/base.html' %}
{% block header %}
{% block navbar %}
{%load static%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Repuestos y Accesorios Flores</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Presupuestos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{% url 'listapresupuestoscaja' %}">Lista Presupuestos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a href="#">Ajustes de Cuenta</a></li>
            <li><a href="{% url 'Logout' %}">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
    
      <div class="b-example-divider"></div>
{% endblock %}
{% endblock %}

{% block content %}
{%include 'Usuarios/status.html' %}

<style>
  .text-center{
    color:#fff;
  }
</style>
<div class="text-center">
      <h2>HOLA {{ request.user }}</h2>
      <img src="{%static 'img/Licencia-apertura-taller.jpg'%}
" class="rounded" alt="...">
    </div>

{% endblock %}