
{% extends 'Base/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
{% block navbar %}
<style>
  .table-bordered {
    background-color: #fff;
  }
</style>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Repuestos y Accesorios Flores</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bodega
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{% url 'vistarepuestos' %}">Lista Repuestos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Atención
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a href="{% url 'listareserva' %}">Lista Reservas</a></li>
              <li><a href="{% url 'addpresupuesto' %}">Ingresar nuevo Presupuesto</a></li>
              <li><a href="{% url 'listapresupuestos' %}">Lista Presupuestos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a href="#">Ajustes de Cuenta</a></li>
            <li><a href="{% url 'Logout' %}">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="b-example-divider"></div>
{% endblock %}
{% endblock %}
{% block content %}

<div class="col">
    <div class="card card-body">

        <form method="get">
            {{FilterReserva.form}}

            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
        

    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Rut</td>
            <td>Nombre</td>
            <td>Giro</td>
            <td>Email</td>
            <td>Fono</td>
            <td>Direccion</td>
            <td>Inicio</td>
            <td>Patente</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Descripcion</td>
        </tr>
    </thead>
    <tbody>
        {% if mensaje %}
    <div class="alert alert-success" role="alert">
        Reserva Eliminada exitosamente!
      </div>
    {% endif %}
        {% if  Reservas %}
        <div class="alert alert-success" role="alert">
            Reservas encontradas exitosamente!
        </div>
        {% for reserva in Reservas %}

        <tr>
            <td>  {{ reserva.Rutcliente }}          </td>
            <td>  {{ reserva.Nombrecliente }}          </td>
            <td>  {{ reserva.Girocliente }}          </td>
            <td>  {{ reserva.Emailciente }}             </td>
            <td>  {{ reserva.Fonocliente }}          </td>
            <td>  {{ reserva.Direccioncliente }}         </td>
            <td>  {{ reserva.Inicio }}         </td>
            <td>  {{ reserva.Patente }}         </td>
            <td>  {{ reserva.Marca }}         </td>
            <td>  {{ reserva.Modelo }}         </td>
            <td>  {{ reserva.Descripcion }}         </td>
            <td>   <a class="btn btn-info" href="{% url 'addpresureserva' reserva.IDReserva %}">Generar Presupuesto</a></td>
            <td>   <a class="btn btn-info" href="{% url 'deletereserva' reserva.IDReserva %}">Eliminar Reserva</a></td>
            
            
        </tr>       
         
        {% endfor %}

        {% else %}
        <tr>
            <td>  nn      </td>
            <td>   nn     </td>
            <td>   nn       </td>
            <td> nn           </td>
            <td>   nn         </td>
            <td>   nn       </td>
            <td>    nn      </td>
            <td>    nn      </td>
            <td>    nn      </td>
            <td>    nn      </td>
            <td>    nn      </td>
        </tr>
        <div class="alert alert-danger" role="alert">
            Sin Registros!
          </div>

        {% endif %}
    </tbody>
</table>
{% endblock %}